<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wishlisted Books</title>
    </head>

    <body>
        
        <div>

            <h1>Wishlisted Books</h1>

            <% for (let i = 0; i < wishlist.length; i++) { %>
                <h3><%= wishlist[i].bookTitle %></h3>
                <hr>
                <p><b>Comments:</b> <%= wishlist[i].bookComments %></p>
                <p><b>Rating:</b> <%= wishlist[i].bookRating %></p>
            <% } %>

            <br>

            <form action="/" method="get">
                <button type="submit" id="button">Add Another Book</button>
            </form>

        </div>

    </body>

</html>